.row{
    margin-top: 4vh;
}

.liste_regions{
    border-left: 1px solid black;
}

.nom_region_ajout{
    margin: 1vh;
}

.btn-modification{
    margin-left: 2vw;
}

.bouttonAjoutRegion{
    padding: 10px;
    background-color: #0D6EFD;
}