.login{
    margin-top: 10vh;
    padding-top: 2vh;
    background-color: #eee;
    border-radius: 20px;
    transform: scale(1.2);
}

.messageErreur{
    color: red;
}

.formComponent{
    margin: 1%
}

.container-titre{
    margin-top: 10vh;
    background-image: url('../assets/images/login/titre_background.jpg');
    background-size: cover;
    height: 30vh;
    background-repeat: no-repeat;
}

.titre{
    text-align: center;
    margin-top: 10vh;
}

.formulaire{
    margin-top: 5vh;
}

.boutton{
    width: 100%;
    margin-bottom: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

label{
    text-align: center;
    font-size: x-large;
}

.messageErreur{
    color :red;
}